@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Kalam&family=Montserrat:wght@300;400;500&family=Ms+Madi&family=Qwitcher+Grypen:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap');
*, *::after, *::before{
    padding: o;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ms Madi', cursive;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Inter', sans-serif;
}
#navbar{
    width: 100%;
    height: 100%;
    padding: 0 40px;
    position: fixed;
    justify-content: flex-end;
    display: none;
    z-index: 10;
}
#navbar button{
    background-image: url(../img/hamburger-open.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    width: 100px;
    border: none;
    outline: 0;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 55px;
    right: 35px;
}
#navbar button[aria-expanded="true"]{
    background-image: url(../img/icons8-x-80\ 1.png);
    height: 40px;
    width: 120px;
    top: 40px;
    right: 10px;
}
.links{
    display: flex;
    position: fixed;
    padding: 140px 0 0 0;
    inset: 0 0 0 65%;
    backdrop-filter: blur(9px);
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
}
.links[data-visible="true"]{
    transform: translateX(0%);
}
#navbar .links a{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    position: relative;
}
#navbar .links a:hover{
    color: #6243e6;
}
#navbar .links a::after{
    content: '';
    height: 2px;
    width: 100%;
    border-radius: 50px;
    background-color: #6243e6;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms ease;
}
#navbar .links a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
#navbar .links .art{
    color: #6243e6;
}
#navbar .links .art::after{
    transform: scaleX(1);
}
#navbar .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    position: absolute;
    bottom: 30px;
}
#navbar .icons a{
    display: flex;
}
#navbar .icons .git{
    height: 30px;
}
#navbar .icons a:hover::after{
    display: none;
}
#navbar .icons a:hover{
    zoom: 70%;
}
/* ARTICLE.HTML */
#article{
    min-height: 100vh;
    background-image: url(../img/hero-bg\ \(2\).png);
    background-repeat: no-repeat;
    color: white;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#article .left{
    width: 60%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
}
#article .left a{
    background-color: black;
    height: 200px;
    width: 200px;
    margin-right: 10px;
    padding: 20px;
    cursor:-moz-grabbing;
    position: relative;
    z-index: 1;
    outline: none;
}
#article .left a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6243e6;
    z-index: -1;
    transform: scale(0);
    transition: transform 400ms ease-in-out;
}
#article .left a:hover::after{
    transform: scale(1);
}
#article .left a h1{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
#article .left a h3{
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    font-weight: lighter;
}
#article .left a h2{
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 80px;
}
#article .right{
    flex-direction: column;
    padding: 0 100px 0 0;
    align-items: flex-end;
    width: 40%;
}
#article .right a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    width: 180px;
    margin-bottom: 30px;
    font-size: 18px;
}
#article .right .notcurrent:hover{
    color: white;
}
#article .right .current{
    color: white;
}
#article .right .current hr{
    background-color: white;
    opacity: 1;
    width: 90px;
}
#article .right .vis{
    transition: all 200ms ease-in-out;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.8);
}
#article .right a:hover .vis{
    width: 90px;
    background-color: white;
    opacity: 1;
}
#article hr{
    height: 2px;
    margin-left: 8px;
}
/* FOOTER */
#footer{
    min-height: 8vh;
    position: fixed;
    bottom: 15px;
    left: 100px;
}
#footer .logodiv{
    margin-right: 20px;
}
#footer .logodiv img{
    height: 34px;
}
#footer a{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}
#footer a:hover{
    color: white;
}
#footer a:hover .arrow{
    height: 30px;
}
#footer .logo{
    margin-right: 5px;
    margin-left: 5px;
}
#footer .git{
    height: 24px;
}
#footer .twi{
    height: 19px;
}
#footer .ema{
    height: 33px;
    margin-right: 0px;
}
#footer .arrow{
    height: 26px;
    margin-right: 15px;
}

/* @media (max-width: 2400) and (min-width: 1500){
}
@media (max-width: 1500px) and (min-width: 1440px){
} */
@media (max-width: 1100px){
    #article .left a{
        height: 170px;
        width: 170px;
        padding: 20px;
        cursor:-moz-grabbing;
    }
    #article .left a h1{
        font-size: 16px;
    }
    #article .left a h3{
        font-size: 14px;
    }
    #article .left a h2{
        margin-top: 45px;
    }
}
@media (max-width: 930px){
    #article .left{
        width: 60%;
        padding: 0 0 0 15px;
    }
    #article .left a{
        margin-bottom: 10px;
    }
    #article .right{
        padding: 0 70px 0 0;
        width: 40%;
    }
    #article .right a{
        margin-bottom: 25px;
        font-size: 16px;
    }
    #article .right .current hr{
        width: 80px;
    }
    #article .right .vis{
        width: 40px;
    }
    #article .right a:hover .vis{
        width: 80px;
    }
    #footer{
        left: 60px;
    }
    #footer .logodiv{
        margin-right: 15px;
    }
    #footer .logodiv img{
        height: 30px;
    }
    #footer a{
        font-size: 16px;
    }
    #footer .logo{
        margin-right: 3px;
        margin-left: 3px;
    }
    #footer .git{
        height: 22px;
    }
    #footer .twi{
        height: 18px;
    }
    #footer .ema{
        height: 32px;
    }
    #footer .arrow{
        height: 25px;
        margin-right: 10px;
    }
}
@media (max-width: 630px){
    #article .left a{
        height: 150px;
        width: 150px;
    }
    #article .left a h1{
        font-size: 15px;
    }
    #article .left a h3{
        font-size: 13px;
    }
    #article .left a h2{
        margin-top: 30px;
        letter-spacing: 1px;
    }
}
@media (max-width: 600px){
    #navbar{
        display: flex;
    }
    #article{
        flex-direction: column-reverse;
    }
    #article .left{
        width: 100%;
        height: 85vh;
    }
    #article .right{
        display: none;
    }
    #article .right a{
        display: none;
    }
    #footer a{
        display: none;
    }
}
@media (max-width: 494px){
    #article .left{
        padding: 0 0 0 10px;
    }
    #article .left a{
        height: 140px;
        width: 140px;
        padding: 15px;
    }
    #article .left a h1{
        font-size: 14px;
    }
    #article .left a h3{
        font-size: 12px;
    }
    #article .left a h2{
        margin-top: 40px;
    }
}
@media (max-width: 460px){
    #navbar button{
        height: 15px;
        width: 75px;
        top: 55px;
        right: 25px;
    }
    #navbar button[aria-expanded="true"]{
        height: 35px;
        width: 110px;
        top: 45px;
        right: -10px;
    }
    #navbar .links a{
    margin-bottom: 15px;
    font-size: 16px;
    }
    #navbar .icons{
        width: 75%;
    }
    #article .left{
        height: 60%;
    }
}
@media (max-width: 380px){
    #navbar .icons{
        width: 90%;
    }
    #navbar .icons .git{
        height: 25px;
        margin-right: 3px;
    }
    #navbar .icons .twi{
        height: 20px;
    }
    #navbar .icons .at{
        height: 35px;
    }
    #footer{
        left: 30px;
    }
}
@media (max-width: 300px){
    /* #article{
        min-height: 110vh;
    } */
    #article .left a{
        height: 110px;
        width: 160px;
        padding: 15px;
    }
    #article .left a h1{
        font-size: 13px;
    }
    #article .left a h3{
        font-size: 11px;
    }
    #article .left a h2{
        margin-top: 28px;
        font-size: 11px;
    }
}